:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  --ff-primary: "Overpass", serif;
  --fw-reguler-400: 400;
  --fw-bold-700: 700;
}

/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--clr-white);
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ==================================== */

body {
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  color: var(--clr-light-grey);
  font-weight: var(--fw-reguler-400);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: var(--clr-very-dark-blue);
}

.card__container {
  background-color: var(--clr-dark-blue);

  border-radius: 1rem;
  margin: 0 1.5rem;
  padding: 1.5rem;
}

.rating__state,
.thankyou__state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thankyou__state {
  display: none;
  align-items: center;
  justify-content: center;
}

.thankyou__state p {
  text-align: center;
  font-size: 0.875rem;
}

.selected-rating {
  color: var(--clr-orange);
  background-color: hsla(0, 0%, 100%, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-weight: var(--fw-reguler-400);
}

.rating__state img {
  align-self: start;

  padding: 0.75rem;
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 50%;
}

.rating__state p {
  font-size: 0.875rem;
}

.rating__lists {
  display: flex;
  justify-content: space-between;
}

.rating__score {
  border: none;
  line-height: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--clr-light-grey);
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: var(--fw-bold-700);
}

.rating__score:hover,
.button__submit:hover {
  background-color: var(--clr-white);
}

.rating__score span {
  vertical-align: -webkit-baseline-middle;
}

.rating__score.active {
  background-color: var(--clr-white);
}

.button__submit {
  border: none;
  height: 40px;
  line-height: 40px;
  border-radius: 2rem;
  background-color: var(--clr-orange);
  color: var(--clr-dark-blue);
  font-weight: var(--fw-bold-700);
  letter-spacing: 2px;
  transition: background-color 0.3s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card__container {
    max-width: 420px;
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .rating__state img {
    padding: 1rem;
  }

  .rating__state h1 {
    font-size: 1.8rem;
  }

  .rating__state {
    gap: 1.5rem;
  }

  .rating__state p,
  .thankyou__state p {
    font-size: 1rem;
  }

  .button__submit {
    height: 45px;
    line-height: 45px;
    margin: 1rem 0;
  }

  .rating__score {
    height: 50px;
    width: 50px;
  }

  .selected-rating {
    margin-bottom: 1rem;
  }
}

.thankyou__state.active {
  display: flex;
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rating__state.hide {
  display: none;
}
